<meta charset="UTF-8"/>
<link rel="stylesheet" href="src/css/bootstrap.min.css" type="text/css">
<link rel="stylesheet" href="src/css/vue-datetime.min.css" type="text/css">

<div id="app"></div>
<script src="build/build.js"></script>
