<template>
    <div class="container-fluid margins">
        <div class="row search-row">
            <div class="col-3">
                <label for="timeFrame">Frame(seconds)</label>
                <v-select v-model="time_frame" :options="[1,2,3,4,5,10,15,20,30,60,300,600,900,1800,3600]"
                          id="timeFrame"></v-select>
            </div>
            <div class="col-3">
                <label for="pair">Pair</label>
                <v-select v-model="pair" :options="pairs" id="pair"></v-select>
            </div>
            <div class="col-3">
                <datetime v-model="date_from" type="datetime" input-id="startDate" input-class="form-control full-width"
                          auto zone="UTC">
                    <label for="startDate" slot="before">Period from</label>
                </datetime>
            </div>
            <div class="col-3">
                <datetime v-model="date_to" type="datetime" input-id="endDate" input-class="form-control full-width"
                          auto zone="UTC">
                    <label for="endDate" slot="before">to</label>
                </datetime>

            </div>
            <div class="col-2">
                <input type="button" class="btn btn-primary full-width" value="Search" v-on:click="search"/>
            </div>
        </div>
        <div class="alert alert-danger" role="alert" v-if="error">
            <strong>Error!</strong> {{this.error}}
        </div>
        <div class="alert alert-dark count-processed" role="alert" v-if="statusReport">
            <strong class="text">Trades processed: {{this.statusReport}}</strong>
            <div class="loader"></div>
        </div>
        <b-tabs>
            <b-tab title="Chart" active>
                <stock-quote v-bind:graph="graph" v-bind:volumes="volumes" @volumes-selected="onVolumesSelected"></stock-quote>
            </b-tab>
            <b-tab title="Table" >
                <stock-table></stock-table>
            </b-tab>
        </b-tabs>
    </div>
</template>
<script>
    //include the quote component
    let Quote = require("./quote.vue");
    let Table = require("./table.vue");
    let moment = require('moment')
    const {ipcRenderer} = window.require('electron')
    //export the needed properties
    let options = ["btcusd", "ltcusd", "ethusd", "etcusd", "rrtusd", "zecusd", "xmrusd", "dshusd", "xrpusd", "iotusd", "eosusd", "sanusd", "omgusd", "neousd", "etpusd", "qtmusd", "avtusd", "edousd", "btgusd", "datusd", "qshusd", "yywusd", "gntusd", "sntusd", "batusd", "mnausd", "funusd", "zrxusd", "tnbusd", "spkusd", "trxusd", "rcnusd", "rlcusd", "aidusd", "sngusd", "repusd", "elfusd", "iosusd", "aiousd", "requsd", "rdnusd", "lrcusd", "waxusd", "daiusd", "cfiusd", "agiusd", "bftusd", "mtnusd", "odeusd", "antusd", "dthusd", "mitusd", "stjusd", "xlmusd", "xvgusd", "bciusd", "mkrusd", "kncusd", "poausd", "lymusd", "utkusd", "veeusd", "dadusd", "orsusd", "aucusd", "poyusd", "fsnusd", "cbtusd", "zcnusd", "senusd", "ncausd", "cndusd", "ctxusd", "paiusd", "seeusd", "essusd", "atmusd", "hotusd", "dtausd", "iqxusd", "wprusd", "zilusd", "bntusd", "absusd", "xrausd", "manusd", "bbnusd", "niousd", "dgxusd", "vetusd", "utnusd", "tknusd", "gotusd", "xtzusd", "cnnusd", "boxusd", "mgousd", "rteusd", "yggusd", "mlnusd", "wtcusd", "csxusd", "omnusd", "intusd", "drnusd", "pnkusd", "dgbusd", "bsvusd", "babusd", "wlousd", "vldusd", "enjusd", "onlusd", "rbtusd", "ustusd", "eutusd", "gsdusd", "udcusd", "tsdusd", "paxusd"]
    module.exports = {
        //the data model (props)
        data() {
            return {
                graph: [{count: 0}],
                volumes: [{count: 0}],
                error: "",
                statusReport: "",
                pairs: options,
                pair: "btcusd",
                time_frame: "30",
                date_from: moment().utc().format("YYYY-MM-DDT00:00:00Z"),
                date_to: moment().utc().format("YYYY-MM-DDT23:59:59Z"),
            };
        },
        watch: {
            time_frame() {
                if (this.graph.length > 1) {
                    ipcRenderer.send('update-time-frame', this.time_frame)
                }
            }
        },
        //declare the included components, used in html
        components: {
            "stock-quote": Quote,
            "stock-table": Table,
        },

        mounted: function () {
            this.$nextTick(function () {
                ipcRenderer.on('candles-by-history-reply', (event, arg) => {
                    this.graph = arg;
                    this.statusReport = ""
                })
                ipcRenderer.on('volumes-reply', (event, arg) => {
                    this.volumes = arg;
                })
                ipcRenderer.on('candles-status', (event, arg) => {
                    this.statusReport = arg;
                })
                ipcRenderer.on('update-time-frame-reply', (event, arg) => {
                    this.graph = arg;
                })


            })
        },
        methods: {
            //init method, initialize props
            init() {
                this.graph = [];
                this.volumes = [];
                this.error = "";

            },
            onVolumesSelected(event) {
                ipcRenderer.send('volumes', {from: event.data.from, to: event.data.to,time_frame: this.time_frame})
            },
            //search method, calls API
            search() {
                if (this.validate()) {
                    ipcRenderer.send('candles-by-history', {
                        date_from: this.date_from,
                        date_to: this.date_to,
                        pair: this.pair,
                        time_frame: this.time_frame,
                        from:this.volumes_from,
                        to:this.volumes_to
                    })
                }
            },
            validate() {
                let isValid = 1
                let self = this
                let fields = ['date_from', 'date_to', 'time_frame', 'pair']
                fields.some(value => {
                    if (self[value] === '') {
                        isValid = 0
                        self.error = 'Fill all fields, please.'
                    }
                    return self[value] === ''
                })
                if (isValid) {
                    let dateFrom = new Date(this.date_from)
                    let dateTo = new Date(this.date_to)
                    if (dateFrom.getTime() >= dateTo.getTime()) {
                        this.error = 'Start of the period shouldn\'t be newer than end of the period.'
                        isValid = 0
                    }
                }

                return isValid;
            },
            //method to handle errors
            handleErrors(err) {
                if (err.status === 404) {
                    this.error = "The specified symbol could not be found...";
                } else {
                    this.error = "There was an error retrieving the data...";
                }
            }
        }
    };
</script>
<style>
    .margins {
        padding: 40px 30px;
    }

    .full-width {
        width: 100%;
    }

    .small {
        font-size: 8px;
        color: #c0c0c0;
    }

    .bottom {
        position: absolute;
        bottom: 5px;
        margin: 0 auto;
    }

    .dropdown-toggle:after {
        display: none;
    }
    .search-row{
        margin-bottom: 10px;
    }
    .search-row .btn-primary{
        margin: 10px 0 0;
    }
    .count-processed:after{
        display: table;
        clear: both;
        content:'';
    }
    .count-processed .text{
        display: block;
        float: left;
    }
    .count-processed .loader {
        float: left;
        border: 2px solid #f3f3f3; /* Light grey */
        border-top: 2px solid #3498db; /* Blue */
        border-radius: 50%;
        width: 32px;
        height: 32px;
        animation: spin 2s linear infinite;
        margin-left: 20px;
    }

    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }
</style>