<template>
    <v-chart :options="finance" ref="chart" @volumes-selected="onVolumesSelected"/>
</template>

<script>
    let upColor = '#ec0000';
    let upBorderColor = '#8A0000';
    let downColor = '#00da3c';
    let downBorderColor = '#008F28';
    let chart = null;
    module.exports = {
        props: ["graph", "volumes"],
        watch: {
            graph() {
                this.finance.dataset.source = this.graph
            },
            volumes() {
                this.finance.series[2].data = this.volumes
            }
        },
        data: function () {
            return this.getData();
        },
        mounted: function () {
            this.$nextTick(function () {
                chart = this.$refs['chart']
                chart.chart._selectable = 0
                initSelect(chart)
                window.addEventListener("resize", this.resize);
            })
        },
        destroyed() {
            window.removeEventListener("resize", this.resize);
        },
        methods: {
            onVolumesSelected(event) {
                this.$emit('volumes-selected', event)
            },
            resize() {
                chart.chart.resize()
            },
            onDeleteHorizontalVolumes: function () {
                this.volumes = []
            },
            getData: function () {
                return {
                    finance: {
                        animation: false,
                        dataset: {
                            source: this.graph

                        },
                        tooltip: {
                            trigger: 'item',
                            axisPointer: {
                                type: 'cross'
                            },
                            backgroundColor: 'rgba(245, 245, 245, 0.8)',
                            borderWidth: 1,
                            borderColor: '#ccc',
                            padding: 10,
                            textStyle: {
                                color: '#000'
                            },
                        },
                        toolbox: {
                            feature: {
                                mySelectPeriod: {show: true, title: 'horizontal volume',
                                    icon: 'path://M992 960H96q-13 0-22.5-9.5T64 928V32q0-13-9.5-22.5T32 0 9.5 9.5 0 32v928q0 26 19 45t45 19h928q13 0 22.5-9.5t9.5-22.5-9.5-22.5T992 960zm-94-448L659 273q-9-9-22.5-9t-22.5 9L475 412 263 200q-7-7-17-8h-22q-13 0-22.5 9.5T192 224l2 544q0 27 18.5 45.5T258 832h576q26 0 45-19t19-45V512z',
                                    onclick: onSelectSwitch
                                },
                                myRemoveHorizontalVolumes: {show: true, title: 'remove horizontal volume',
                                    icon: 'path://M864 191H705V73q0-30-21.5-51.5T632 0H264q-30 0-51.5 21.5T191 73v118H32q-13 0-22.5 9.5T0 224q0 13 9.5 22.5T32 256h33v695q0 30 21.5 51.5T138 1024h619q30 0 51.5-21.5T830 951V256h33q14 0 23.5-9.5T896 224q0-14-9.5-23.5T864 191zm-609 0V73q0-9 9-9h368q9 0 9 9v119H255v-1zm511 760q0 9-9 9H138q-9 0-9-9V256h637v695zM256 416v384q0 14-9.5 23t-22.5 9-22.5-9-9.5-23V416q0-13 9.5-22.5T224 384t22.5 9.5T256 416zm224 0v384q0 14-9.5 23t-22.5 9-22.5-9-9.5-23V416q0-13 9.5-22.5T448 384t22.5 9.5T480 416zm225 0v384q0 14-9.5 23t-22.5 9-22.5-9-9.5-23V416q0-13 9.5-22.5T673 384t22.5 9.5T705 416z',
                                    onclick: this.onDeleteHorizontalVolumes
                                },
                                dataZoom: {
                                    yAxisIndex: false,
                                    lang: 'en',
                                    title: {
                                        zoom: 'zoom',
                                        back: 'back'
                                    },
                                },
                                restore: {show: true, title: 'restore'},
                                saveAsImage: {show: true, title: 'save'}
                            }
                        },
                        grid: [
                            {
                                left: '10%',
                                right: '10%',
                                bottom: 200
                            },
                            {
                                left: '10%',
                                right: '10%',
                                height: 80,
                                bottom: 80
                            }
                        ],
                        xAxis: [
                            {
                                type: 'category',
                                scale: true,
                                boundaryGap: false,
                                // inverse: true,
                                axisLine: {onZero: false},
                                splitLine: {show: false},
                                splitNumber: 20,
                                min: 'dataMin',
                                max: 'dataMax'
                            },
                            {
                                type: 'category',
                                gridIndex: 1,
                                scale: true,
                                boundaryGap: false,
                                axisLine: {onZero: false},
                                axisTick: {show: false},
                                splitLine: {show: false},
                                axisLabel: {show: false},
                                splitNumber: 20,
                                min: 'dataMin',
                                max: 'dataMax'
                            },
                            {
                                type: 'value',

                            }
                        ],
                        yAxis: [
                            {
                                scale: true,
                                splitArea: {
                                    show: true
                                }
                            },
                            {
                                scale: true,
                                gridIndex: 1,
                                splitNumber: 2,
                                axisLabel: {show: false},
                                axisLine: {show: false},
                                axisTick: {show: false},
                                splitLine: {show: false}
                            }
                        ],
                        title: {
                            text: ''
                        },
                        dataZoom: [
                            {
                                id: 'insideX',
                                type: 'inside',
                                xAxisIndex: [0, 1],
                                start: 10,
                                end: 100
                            },
                            {
                                id:'insideY',
                                show: true,
                                xAxisIndex: [0, 1],
                                type: 'slider',
                                bottom: 10,
                                start: 10,
                                end: 100,

                                handleSize: '105%'
                            }
                        ],
                        series: [
                            {
                                type: 'candlestick',
                                itemStyle: {
                                    color: downColor,
                                    color0: upColor,
                                    borderColor: downBorderColor,
                                    borderColor0: upBorderColor,
                                },
                                encode: {
                                    x: 0,
                                    y: [1, 4, 3, 2]
                                }
                            },
                            {
                                name: 'Volume',
                                type: 'bar',
                                xAxisIndex: 1,
                                yAxisIndex: 1,
                                itemStyle: {
                                    color: '#a4a4a4'
                                },
                                large: true,
                                encode: {
                                    x: 0,
                                    y: 5
                                }
                            },
                            {
                                type: 'custom',
                                renderItem: renderItem,
                                xAxisIndex: 2,
                                // yAxisIndex: 0,
                                dimensions: ['from', 'to', 'volume'],
                                encode: {
                                    x: 2,
                                    y: [0, 1],
                                    tooltip: [0, 1, 2]
                                },
                                data: this.volumes
                            }
                        ]
                    }
                }
            }
        }
    }

    function renderItem(params, api) {
        let start = api.coord([0, api.value(1)]);
        let size = api.size([api.value(2), api.value(1) - api.value(0)]);
        return {
            type: 'rect',
            shape: {
                x: start[0],
                y: start[1],
                width: size[0],
                height: size[1]
            },
            style: api.style({
                stroke: 'rgba(195,162,162,0.5)',
                fill: 'rgba(195,162,162,0.5)'
            })
        };
    }
    function onSelectSwitch(model, api, type) {
        chart.chart._selectable = !chart.chart._selectable;
        chart.chart.setOption({
            dataZoom: [{
                id: 'insideX',
                disabled: chart.chart._selectable
            }, {
                id: 'insideY',
                disabled: chart.chart._selectable
            }]
        });
        this.model.setIconStatus(type, chart.chart._selectable ? 'emphasis' : 'normal');
    }
    function initSelect(chart) {
        let select = require('../../lib/dataselect')
        select.init(chart)
    }
</script>
<style>
    .echarts {
        width: 100%;
        height: 75%;
    }
</style>