<template>
   <div class="row filter-volumes">
      <div class="col-2">
         <label for="volumes_from">Volume from</label>
         <v-select v-model="volumes_from" :options="['',1, 10, 50, 100, 250, 500, 1000]"
                   id="volumes_from"></v-select>
      </div>
      <div class="col-2">
         <label for="volumes_to">to</label>
         <v-select v-model="volumes_to" :options="['',1, 10, 50, 100, 250, 500, 1000]" id="volumes_to"></v-select>
      </div>
      <div class="col-2">
         <input type="button" class="btn btn-primary full-width" value="Filter" v-on:click="filter"/>
      </div>
      <!-- Using value -->
       <div class="col-2">
       <b-btn v-b-modal="'pineGenerator'">Generate pine script</b-btn>
       </div>
       <!-- the modal -->
       <b-modal id="pineGenerator" @ok="handleOk">
          <label for="pine_time_frame">Timeframe(hours)</label>
          <v-select v-model="pineTimeFrame" :options="[1, 2, 3, 4, 24]" id="pine_time_frame"></v-select>
       </b-modal>
      <b-modal id="pineGeneratedSuccessfully" ref="pineGeneratedSuccessfully">Pine script has been copied to the clipboard</b-modal>
      <div class="col-12">
         <table class="table table-striped">
            <thead>
            <tr>
               <th scope="col">ID</th>
               <th scope="col">Date</th>
               <th scope="col">Volume</th>
               <th scope="col">Price</th>
            </tr>
            </thead>
            <tbody>

            <tr v-for="item of trades">
               <th scope="row">{{ item[0] }}</th>
               <td>{{ item[4] }}</td>
               <td>{{ item[2] }}</td>
               <td>{{ item[3] }}</td>
            </tr>
            </tbody>
         </table>
      </div>
   </div>

</template>

<script>
    const {ipcRenderer, clipboard} = window.require('electron')
    const notifier = window.require('electron-notifications')

    module.exports = {
        // watch: {
        //     trades() {}
        // },
        data: function () {
            return {
                volumes_from: 1,
                volumes_to: 1000,
                pineTimeFrame: 24,
                trades:[],
            }
        },
        methods: {
            filter(){
                ipcRenderer.send('filter-trades', {from:this.volumes_from, to:this.volumes_to})
            },
            handleOk (evt) {
                ipcRenderer.send('pines', {from:this.volumes_from, to:this.volumes_to, time_frame: this.pineTimeFrame})

            },
        },
        mounted: function () {
            this.$nextTick(function () {
                ipcRenderer.on('filter-trades-reply', (event, arg) => {
                    this.trades = arg;
                })
                ipcRenderer.on('candles-by-history-reply', () => {
                    ipcRenderer.send('filter-trades', {from:this.volumes_from, to:this.volumes_to})
                })
                ipcRenderer.on('pines-reply', (event, arg) => {
                    clipboard.writeText(arg)
                    // Full Options
                    let $ref = this.$refs['pineGeneratedSuccessfully'];
                    $ref.show()
                    setTimeout(()=>{
                        $ref.hide()
                    }, 3000)
                })
            })
        }
    }

</script>
<style>
.filter-volumes>.col-2>.btn{
   margin: 30px 0 0;
}
</style>